@charset "UTF-8";
html {
  font-size: 100%;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
ul {
  list-style: none;
}

.content {
  max-width: 1000px;
  padding: 0 20px;
  margin: 20px auto;
}

#mainvisual {
  padding: 10px;
}
#thumbnail {
  /* background-color: aqua; */
  display: flex;
}
#thumbnail li {
  width: 20%;
  padding: 10px;
}

/*-------------------------------------------
SP
-------------------------------------------*/
/* @media screen and (max-width: 600px) {
  .content {
    padding: 0 10px;
    margin: 10px auto;
  }

  #mainvisual {
    padding: 5px;
  }
  #thumbnail li {
    padding: 5px;
  }
} */

/* @media (orientation: landscape) and (max-width: 900px){ */
@media (orientation: landscape){
 
  body{
    display: flex;
    flex-direction: row;
  }

  .content {
    display: inline-block;
    max-width: 1000px;
    padding: 0;
    margin: 20px auto;
  }

  #thumbnail {
    padding: 0;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: blue; */
  }
  #thumbnail li {
    /* float: right;
    list-style: none; */
    padding: 7px;
  }
}